<div class="row">
  <div class="col">
    <!-- Componente: Grafica de Barras ng2-charts -->
    <div style="display: block;">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <button class="btn btn-primary mt-4 float-end" (click)="randomize()">Actualizar datos</button>
  </div>
</div>
